
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <p class="lead text-danger display-4">bir hata oluştu teknik ekibimiz bilgilendirildi ilgili hata en kısa zamanda çözülecektir.</p>
        @*Hatanın gerçekleştiği yer  : @ViewBag.path <br />
        Hata Mesajı : @ViewBag.error*@
    </div>
</div>

