
@{
    ViewData["Title"] = "StatusCode";
    Layout = "~/Views/Shared/_StandartLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 lead display-4 mt-4">
        @ViewBag.code
        <br />
        @ViewBag.messages
    </div>
</div>

